#include "ApiKeys.xcconfig"

TEAM_ID=

PRODUCT_NAME=Podkop
PODKOP_BUNDLE_SUFFIX=
PODKOP_BUNDLE_SUFFIX[config=Debug]=.debug
PRODUCT_BUNDLE_IDENTIFIER=pl.masslany.podkop.Podkop$(TEAM_ID)$(PODKOP_BUNDLE_SUFFIX)

PODKOP_DISPLAY_NAME=Podkop
PODKOP_DISPLAY_NAME[config=Debug]=Podkop Debug
INFOPLIST_KEY_CFBundleDisplayName=$(PODKOP_DISPLAY_NAME)

CURRENT_PROJECT_VERSION=2
MARKETING_VERSION=1.1

